[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"

  [entryPoints.websecure]
    address = ":443"

[api]
  dashboard = true

[certificatesResolvers.lets-encrypt.acme]
  email = "mehul.intern@phonepe.com"
  storage = "acme.json"
  [certificatesResolvers.lets-encrypt.acme.tlsChallenge]

[providers.docker]
  watch = true
  network = "web"

[providers.file]
  filename = "traefik_dynamic.toml"

[providers.marathon]
  endpoint = "http://192.168.67.48:8080"
  exposedByDefault = true
  watch = true
  respectReadinessChecks = true

[pilot]
    token = "13e3f8ff-d8ea-4f17-96bc-bed346897b18"
