---
- name: Demoting 3rd node in the Galera Cluster to Async Slave.
  hosts: host1
  become: true
  become_method: sudo
  tasks:
    - name: Some changes in mysql to get the gtid_binlog_pos
      mysql_db:
        login_user: root
        login_password: root
        name: testdb
        state: present

    - name: Get the gtid of gtid_binlog_pos
      command: mysql --user=root --password=root -Ns -e "show variables like 'gtid_binlog_pos'"
      register: gtid_str
  
    - set_fact:
        gtid:  "{{ gtid_str.stdout | regex_findall('[0-9]+') | join('-') }}"


    - name: Create a replication user
      mysql_user:
        login_user: root
        login_password: root
        name: slave
        host: "192.168.1.3"
        password: slave
        priv: "*.*:REPLICATION SLAVE"
        state: present

    - name: Flush Privileges
      command: mysql --user=root --password=root -e "FLUSH PRIVILEGES"
      changed_when: False

- name: Configuration on 3rd node
  hosts: host3   
  become: true
  become_method: sudo   
  tasks:
    - name: Stop slave
      mysql_replication:
        login_user: root
        login_password: root
        mode: stopslave

    - name: Set Slave pos
      command: mysql --user=root --password=root -e "SET GLOBAL gtid_slave_pos = '{{ hostvars['192.168.1.1']['gtid'] }}'"

    - name: Chang master to master host
      command: mysql --user=root --password=root -e "CHANGE MASTER TO MASTER_HOST='192.168.1.1', MASTER_PORT=3306, MASTER_USER='slave', MASTER_PASSWORD='slave', MASTER_USE_GTID=slave_pos"
      
    - name: Start slave
      mysql_replication:
        login_user: root
        login_password: root
        mode: startslave

    - name: Shut off Galera Cluster
      file:
        path: /etc/mysql/conf.d/galera.cnf
        state: absent

    - name: Restart MariaDB
      service:
        name: mariadb
        state: restarted

    - name: Stop slave
      mysql_replication:
        login_user: root
        login_password: root
        mode: stopslave

    - name: Start slave
      mysql_replication:
        login_user: root
        login_password: root
        mode: startslave
