---
- name: MariaDB Installation and Configuration
  hosts: all
  become: true
  become_method: sudo 
  vars:
    mysql_root_password: "root"
    user_name1: "mehul"
    user_pass1: "mehul"
    user_name2: "readonly"
    user_pass2: "readonly"

  tasks:
    - name: updating package lists
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: installing pre-reqs
      apt:
        name:
          - software-properties-common
          - python3-pymysql
          - mariadb-backup
        state: present
        update_cache: yes
        cache_valid_time: 3600
        

    - name: importing mariadb key
      apt_key: 
        url: https://mariadb.org/mariadb_release_signing_key.asc
        state: present

    - name: installing mariadb repository
      apt_repository: 
        repo: deb [arch=amd64] http://mariadb.mirror.globo.tech/repo/10.5/ubuntu focal main
        state: present

    - name: installing mariadb-server and mariadb-client
      apt:
        name:
          - mariadb-server
          - mariadb-client
    

    - name: Configuring MySQL
      mysql_user:
        login_unix_socket: /var/run/mysqld/mysqld.sock
        login_user: root
        login_password: "{{ mysql_root_password }}"
        user: root
        check_implicit_admin: true
        password: "{{ mysql_root_password }}"
        host: localhost

    - name: MYSQL_USER | Remove all anonymous users
      mysql_user:
        login_unix_socket: /var/run/mysqld/mysqld.sock
        login_user: root
        login_password: "{{ mysql_root_password }}"
        name: ''
        host: "{{ item }}"
        state: absent
      loop:
        - "{{ ansible_hostname }}"
        - 127.0.0.1
        - ::1
        - localhost

    - name: MYSQL_DB | Remove the test database
      mysql_db:
        login_unix_socket: /var/run/mysqld/mysqld.sock
        login_user: root
        login_password: "{{ mysql_root_password }}"
        name: test
        state: absent
      ignore_errors: yes

    - name: Creating user with read/write permissions
      mysql_user:
        login_unix_socket: /var/run/mysqld/mysqld.sock
        login_user: root
        login_password: "{{ mysql_root_password }}"
        name: "{{ user_name1 }}"
        host: "localhost"
        password: "{{ user_pass1 }}"
        priv: "*.*:ALL"
        state: present

    - name: Creating user with read-only permissions
      mysql_user:
        login_unix_socket: /var/run/mysqld/mysqld.sock
        login_user: root
        login_password: "{{ mysql_root_password }}"
        name: "{{ user_name2 }}"
        host: "localhost"
        password: "{{ user_pass2 }}"
        priv: "*.*:SELECT,INSERT,UPDATE,DELETE,CREATE,DROP"
        state: present
        

    - name: Restarting MariaDB
      service:
        name: mysql
        state: restarted


    
    

      
