---
- name: Some changes in mysql to get the gtid_binlog_pos
  mysql_db:
    login_user: "{{ login_user }}"
    name: testdb
    state: present
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['master_node'][0]

- name: Get the gtid of gtid_binlog_pos
  command: mysql --user=root -Ns -e "show variables like 'gtid_binlog_pos'"
  register: gtid_str
  when: ansible_enp0s8.ipv4.address == groups['master_node'][0]

- set_fact:
    gtid:  "{{ gtid_str.stdout | regex_findall('[0-9]+') | join('-') }}"
  when: ansible_enp0s8.ipv4.address == groups['master_node'][0]

- name: Create a replication user
  mysql_user:
    login_user: "{{ login_user }}"
    name: slave
    host: "192.168.1.3"
    password: slave
    priv: "*.*:REPLICATION SLAVE"
    state: present
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['master_node'][0]

- name: Flush Privileges
  command: mysql --user=root -e "FLUSH PRIVILEGES"
  when: ansible_enp0s8.ipv4.address == groups['master_node'][0]

- name: Stop slave
  mysql_replication:
    login_user: "{{ login_user }}"
    mode: stopslave
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Set Slave pos
  command: mysql --user=root -e "SET GLOBAL gtid_slave_pos = '{{ hostvars['192.168.1.1']['gtid'] }}'"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]


- name: Change master to master host
  command: mysql --user=root -e "CHANGE MASTER TO MASTER_HOST='192.168.1.1', MASTER_PORT=3306, MASTER_USER='slave', MASTER_PASSWORD='slave', MASTER_USE_GTID=slave_pos"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Start slave
  mysql_replication:
    login_user: "{{ login_user }}"
    mode: startslave
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Shut off Galera Cluster
  file:
    path: /etc/mysql/conf.d/galera.cnf
    state: absent
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Restart MariaDB
  service:
    name: mariadb
    state: restarted
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Stop slave
  mysql_replication:
    login_user: "{{ login_user }}"
    mode: stopslave
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Drop user slave
  mysql_user:
    login_user: "{{ login_user }}"
    name: slave
    host: "192.168.1.3"
    state: absent
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]

- name: Start slave
  mysql_replication:
    login_user: "{{ login_user }}"
    mode: startslave
    login_unix_socket: "{{ login_unix_socket }}"
  when: ansible_enp0s8.ipv4.address == groups['slave_node'][0]
